<div id="page-{{id}}" class="{{page_class}}">
  <div class="page-header" style="background-image:url({{image}});">
    <div class="page-title">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="page-content">
    <article class="page-body">
      <p>{{content}}</p>
    </article>
  </div>
</div>
