<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" class="js flexbox webgl no-touch geolocation hashchange history websockets rgba hsla multiplebgs backgroundsize borderimage textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage applicationcache svg svgclippaths mediaqueries no-regions no-supports">
<!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>{{meta_title}}</title>

  <meta name="description" content="{{meta_description}}">

  {{! Announce the rss feed }}
  <link rel="alternate" type="application/rss+xml" title="{{@blog.title}} » Feed" href="{{@blog.url}}/rss">

  {{! Stylesheets }}
  <link rel="stylesheet" href="{{asset 'css/styles.css'}}" type="text/css" />

  {{! Scripts }}
  <script type="text/javascript" src="{{asset 'js/vendor.js'}}"></script>
  <script type="text/javascript" src="{{asset 'js/scripts.js'}}"></script>

  <!-- Ghost outputs important style and meta data with this tag -->
  {{ghost_head}}
</head>


<body class="{{body_class}} site-body">
  <div class="site-wrapper">
    {{! Output the content of the header partial template }}
    <header class="site-nav">
      {{> menu}}
    </header>

    {{! The main section uses eight columns in the grid framework }}
    <main class="site-main">
      {{{body}}}
    </main>

    <!-- The Ghost footer helper will insert some shared javascript libraries and files required by plugins -->
    <footer class="site-footer">
      {{> footer}}
    </footer>
  </div>
  {{ghost_foot}}
</body>
</html>
